h1, 
h2, 
h3 {
    font-family: 'Yatra One', cursive;
}
body {
    color: #ef6c00;
    background-color: #424242;
    font-family: 'Source Sans Pro', sans-serif;
}

body h1, 
h2, 
h3 {
    color: white;
}

#about h4 {
    font-family: 'Josefin Slab', serif;
}

nav {
	color: transparent;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: none;
}
nav a:hover {
	color: #f2f2f2;
    font-weight: bold;
}

.navbar-fixed {
	position: absolute;
}

.side-nav {
	background-color: rgba(0, 0, 0, 0.77);
	width: 50% !important;
    -webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
    transition: all 0.5s
}

.anda {
    -webkit-transform: translateX(90vw);
   	transform: translateX(90vw);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
    transition: all 1s	
}

.roda {

	    -webkit-transform: rotate(360deg);
   	transform: rotate(0deg);
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
    transition: all 0.6s
}
.side-nav a {
	color: white;
	text-align: center;
}

.side-nav-open {
	transform: translateX(0px);
	
}

.side-nav-close {
	transform: translateX(100%);
}


#welcome {
    background-image: url(../images/burger.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
}

#welcome-black {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.37);
}

.btn-down {
    height: 40px;
    background-image: url("../icons/arrow_down.svg");

    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: block;
    position: relative;
	z-index: 3;*/
	bottom: -90vh;
	top: 90vh;
}

.btn-down-products {
	top: 0;
}

#description {
	background-color: #1a2328;
    color: #747d82;
    background-image: url(../images/description.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    width: 100%;
    height: 100vh;
}

.img-description {
	background-image: url(../images/description.jpg);
	height: 412px;
	background-size: cover;
	min-width: auto;
	background-repeat: no-repeat;
}

.text-description {
	text-align: justify;
	padding: 20px;
    background-color: rgba(0, 0, 0, 0.90);
    border-radius: 12px;
}

.border-redon {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

#menu-products {
	min-height: 100vh;
}

#menu-products .menu-item{
	margin-top: 0px;
	float: left;
}

#menu-products ul {
	background-color: transparent;
}

.menu-opcoes a {
    color: #ef6c00 !important;
}

#menu-products .tabs .indicator {
	background-color: white;
}

.menu-item {
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
	background-size: contain; 
	background-position: center;
	margin: 10px;
	margin-left: 0;
}

.item1 {
	background-image: url(../images/thumb_pizza_1.jpg);
}

.item2 {
	background-image: url(../images/thumb_pizza_2.jpg);

}

.item3 {
	background-image: url(../images/thumb_pizza_3.jpg);
	
}

.item4 {
	background-image: url(../images/thumb_pizza_4.jpg);
	
}

.item5 {
	background-image: url(../images/burger_1.png);
}

.item6 {
	background-image: url(../images/burger_2.png);	
}

.item7 {
	background-image: url(../images/burger_3.png);
}

.item8 {	
	background-image: url(../images/burger_4.png);
}

.item9 {
	background-image: url(../images/burger_5.png);
}

.item10 {
	background-image: url(../images/burger_6.png);
}

#about {
	min-height: 100vh;
}

#about p {
	text-align: justify;
}

.mapa {
	background-image: url(../images/mapa.jpg); 
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: center;
}

.mapa img {
	visibility: hidden;
	width: 100%;
}

#contact  .linha {
	margin: 0;
}

form {
	background-color: white;
	padding-top: 10px;

}

.linha .lb-nome {
	padding-top: 10px;		
}

footer.page-footer{
	margin-top: 0px;
}

.logo {
	background-image: url(../images/logo_burger.svg);
	background-repeat: no-repeat;
	background-position: center;
	min-width: 150px;
	min-height: 150px;
	background-size: contain;
	margin-top: 20px;
}
.logo-small {
	background-image: url(../images/logo_burger_small.svg);
	min-width: none;
	min-height: 56px;
	margin-top: 0px;
}
@media screen and (min-width: 992px) {
	.logo-small {
		margin-left: 5px;
	}
}

.social-medias li {
	display: inline-block;
	margin: 5px;
}

.social-medias a {
	margin: 0 auto;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 32px;
	height: 32px;
	display: block;
	text-indent: -99999px;
}

.facebook {
	background-image: url(../icons/facebook.svg);
}

.twitter {
	background-image: url(../icons/twitter.svg);
}

.instagram {
	background-image: url(../icons/instagram.svg);
}

.youtube {
	background-image: url(../icons/youtube.svg);
}

footer .material-icons {
	color: rgba(255, 255, 255, 1); 	
	margin-right: 5px;
}

footer p {
    display: inline-flex;
    vertical-align: middle;
}

.logo-burger {
    background-image: url(../images/logo_burger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50vh;
    background-size: contain;
    position: absolute;
    position: center;
    top: 20vh;
}

#products .col {
	padding: 0px;
}

.text-fotos {
	width: 100%;
	height: 50vh;
	text-align: justify-all;
}
.text-fotos h2{
	width: 100%;
}

.imagens {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    padding: 0px;
}

.box-preco {
	width: 100%;
	height: 100%;
	color: black;
	background-color: rgba(0, 0, 0, 0.87);
	z-index: 5;
	visibility: hidden;
	display: flex;
	justify-content: center;
}

.preco {
	align-self: center;
	z-index: 6;
	text-align: center;
	color: white;
}

.preco h4 {
	color: #06cc03 !important;
	font-family: 'Bungee', cursive;
}

.imagens:hover .box-preco {
	visibility: visible;
}

/*ABOUT HTML*/
.about-img {
    background-image: url(../images/about.jpg);
	width: 100%;
	height: 100vh;
	position: absolute;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-us h2 {
	width: 100%;
}

.about-us {
	height: 50vh;
}

/*CARDAPIO HTML*/
.cardapio-img {
    background-image: url(../images/burger_menu.jpg);
	width: 100%;
	height: 100vh;
	position: absolute;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*TRABALHE CONOSCO HTML*/
#trabalheconosco-img {
    background-image: url(../images/trabalheconosco.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /*z-index: 1;*/
    position: absolute;

    /*background: #ffe139;*/
    width: 100%;
    height: 100vh;
}

