.navbar {
z-index: 5;
     /*   margin: 0;
        padding: 0;*/
}

.navbar li:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.navbar li:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.navbar .is-open {
    background-color: rgba(0, 0, 0, 0.9) !important;
        height: 100vh;
        width: 100vw;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

}

.navbar li {
    list-style: none;
    /*background-color: rgba(0, 0, 0, 0.87);*/
    visibility: hidden;
    display: list-item;
    text-align: center;
    padding: 5px;
}

@media screen and (min-width: 768px) {
    .navbar li {
        display: inline-block;
    }
    .navbar li:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        border-top-right-radius: 0px;

    }
    .navbar li:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
}

.navbar a {
    color: #111;
    display: inline-block;
    text-decoration: none;
    padding: 10px 0;
    text-transform: uppercase;
    /*font-weight: lighter;*/
    opacity: .7;
    transition: all 0.4s ease-in-out;

}

 .navbar a:hover {
    opacity: 1;
    
}
.nav-menu {
    text-align: right;
    float: right;
    margin-right: 10px;
}

.nav-menu li {
    transition-delay: 0.15s;
    transform: translate(30px, 0);
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-menu.is-open li {
    transform: translate(0px, 0);
    opacity: 1;
    visibility: visible;

}

.nav-menu.is-open li:nth-child(1) {
    transition-delay: 0.1s;
}

.nav-menu.is-open li:nth-child(2) {
    transition-delay: 0.15s;
}

.nav-menu.is-open li:nth-child(3) {
    transition-delay: 0.2s;
}

.nav-menu.is-open li:nth-child(4) {
    transition-delay: 0.25s;
}

.nav-menu.is-open li:nth-child(5) {
    transition-delay: .3s;
}

.nav-menu.is-open li a {
    color: #fff;
}

#menu {
    float: right;
    width: 25px;
    height: 15px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor: pointer;
}

#menu span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    /*background: #222;*/
    background: white;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}

#menu span:nth-child(1) {
    top: 0px;
}

#menu span:nth-child(2),
#menu span:nth-child(3) {
    top: 9px;
}

#menu span:nth-child(4) {
    top: 18px;
}

#menu.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
}

#menu.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#menu.open span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
}

#menu.open span {
    background: #fff;
}

.navbar {
    float: right;
    padding: 50px;
    position: relative;
    z-index: 3;
}

.overlay {
    background-image: url(../images/burger.jpg);
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /*background: #ffe139;*/
    width: 100%;
    height: 100vh;
    transition: background .5s ease-in-out;
 }

.overlay.is-visible {
    /*background: black;*/

    /*background-color: rgba(0,0,0,0.87);*/
    background-image: none;
    background: #000;
    opacity: 1;
    display:block;
        }

}

